<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Inicial</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home-page.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/utilities.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/sections.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/box.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/logos.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/modal.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/cadastro.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
  <section class="Section">
    <div class="SectionOpacity">
      <div class="Navbar">
        <div class="NavLogo">
          <a href="/"><img src="/images/logo2.png"></a>
        </div>
        <div class="NavLinks">
          <a  class="Link" href="/#1">Sobre</a>
          <a class="Link" href="/#2">Como funciona</a>
          <a class="Link" href="/#3">Colaboradores</a>
          <a  class="Link">Cadastrar</a>
        </div>
      </div>


      <!-- inicio formulario -->
      <div class="container">
        <div class="stepwizard col-md-offset-3" style="color: white;">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
              <p>Empresa</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-2" id="step-2-teste" type="button" class="btn btn-default btn-circle disabled">2</a>
              <p>Responsável</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-3" id="step-3-teste" type="button" class="btn btn-default btn-circle disabled">3</a>
              <p>Capacidades</p>
            </div>
          </div>
        </div>

        <form role="form" action="/" method="get">
          <!-- INICIO STEP 1 -->
          <div class="row setup-content" id="step-1" style="color: white;">
            <div class="col-xs-6 col-md-offset-3">
              <div class="col-md-12" style="background-color: rgba(0, 0, 0, 0.3); padding-bottom: 3vh; border-radius: 1%;">
                <h3>Empresa</h3>
                <div class="form-group">
                  <label class="control-label">CNPJ</label>
                  <input maxlength="18" type="text" required="required" class="form-control" placeholder="Ex: 08.156.158/0001-67"  />
                </div>
                <div class="form-group">
                  <label class="control-label">Empresa</label>
                  <input maxlength="100" type="text" required="required" class="form-control" placeholder="Ex: ThoughtWorks" />
                </div>
                <div class="form-group">
                  <label class="control-label">Senha</label>
                  <input type="password" required="required" class="form-control" placeholder="Senha"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Confirmar Senha</label>
                  <input type="password" required="required" class="form-control" placeholder="Confirmar senha"/>
                </div>


                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Próximo</button>
              </div>
            </div>
          </div>
          <!-- FIM STEP 1 -->

          <!-- INICIO STEP 2 -->
          <div class="row setup-content" id="step-2" style="color: white;">
            <div class="col-xs-6 col-md-offset-3">
              <div class="col-md-12" style="background-color: rgba(0, 0, 0, 0.3); padding-bottom: 3vh; border-radius: 1%;">
                <h3>Responsável pela empresa</h3>
                <div class="form-group">
                  <label class="control-label">Nome do Responsável</label>
                  <input maxlength="100" type="text" required="required" class="form-control" placeholder="Nome"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input maxlength="100" type="email" required="required" class="form-control" placeholder="Ex: email@email.com"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Telefone</label>
                  <input maxlength="200" type="number" required="required" class="form-control" placeholder="Ex: 51-9999-9999"  />
                </div>
                <div class="form-group">
                  <label class="control-label">Site</label>
                  <input maxlength="200" type="text" class="form-control" placeholder="Site"  />
                </div>
                <div class="form-group">
                  <label class="control-label">Descrição da empresa</label>
                  <textarea maxlength="200" type="textarea" required="required" class="form-control" placeholder="Escreva a descrição aqui..." style="max-width: 100%;"></textarea>
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Próximo</button>
              </div>
            </div>
          </div>
          <!-- FIM STEP 2 -->

          <!-- INICO STEP 3 -->
          <div class="row setup-content" id="step-3" style="color: white;">
            <div class="col-xs-6 col-md-offset-3">
              <div class="col-md-12" style="background-color: rgba(0, 0, 0, 0.3); padding-bottom: 3vh; border-radius: 1%;">
                <h3>Capacidades da empresa</h3>
                <div class="form-group">
                  <label class="control-label">Área</label>
                  <select required="required" id="selectbasic" name="selectbasic" class="form-control">
                    <option value="">Escolha uma área</option>
                    <option value="ciencia-da-vida">Ciência da vida</option>
                    <option value="energia-e-meio-ambiente">Energia e Meio Ambiente</option>
                    <option value="industria-criativa">Indústria Criativa</option>
                    <option value="ti-comunicação">Tecnologia da Informação e Comunicação</option>
                  </select>
                </div>


                <div class="form-group">
                  <label class="control-label">Segmento</label><br>

                  <div class="col-md-4">
                    <input type="checkbox"> Agronegócios<br>
                    <input type="checkbox"> Calçados<br>
                    <input type="checkbox"> Educação<br>
                    <input type="checkbox"> Eletromecânica<br>
                  </div>
                  <div class="col-md-4">
                    <input type="checkbox"> Energia<br>
                    <input type="checkbox"> Finanças<br>
                    <input type="checkbox"> Hardware<br>
                  </div>
                  <div class="col-md-4">
                    <input type="checkbox"> Indústria Criativa<br>
                    <input type="checkbox"> Meio ambiente<br>
                    <input type="checkbox"> Software<br>
                  </div>
                </div>

                <br><br><br><br><br>

                <label class="control-label">Competência</label>
                <div class="form-group">
                  <div class="col-md-4">
                    <div id="pai-1" style="display: inline-flex; cursor: pointer;">
                      <div class="div-pai">Hardware</div> <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div id="filho-1"class="div-filho" style="display: none;">
                      <input type="checkbox"> Outsourcing<br>
                      <input type="checkbox"> Robôs<br>
                      <input type="checkbox"> Escalabilidade<br>
                      <input type="checkbox"> Integração<br>
                      <input type="checkbox"> Qualidade<br>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div id="pai-2" style="display: inline-flex; cursor: pointer;">
                      <div  id="pai-2" class="div-pai">Software  </div><i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div  id="filho-2"class="div-filho" style="display: none;">
                      <input type="checkbox"> Desenvolvimento SW Client Server<br>
                      <input type="checkbox"> Engenharia de Requisitos<br>
                      <input type="checkbox"> Tecnologia Big data<br>
                      <input type="checkbox"> Tecnologia Data warehousing<br>
                      <input type="checkbox"> Metodologias Waterfall<br>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div id="pai-3" style="display: inline-flex; cursor: pointer;">
                      <div id="pai-3" class="div-pai">Serviços </div><i class="material-icons">keyboard_arrow_down</i>
                    </div>
                      <div id="filho-3" class="div-filho" style="display: none;">
                        <input type="checkbox"> Consultoria<br>
                        <input type="checkbox"> Relações publicas<br>
                        <input type="checkbox"> Documentação<br>
                        <input type="checkbox"> Internet das coisas <br>
                        <input type="checkbox"> Games<br>
                      </div>
                  </div>
                </div>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <div class="form-group flex-box">
                  <input class='form-control check-test' id="checkbox" name="termos" value="termos" type="checkbox" required="required">
                  <label class="control-label check-label" for="checkbox"> Aceito os termos de uso</label>
                </div>
                <button id="buttonAlert" class="btn btn-success btn-lg pull-right" type="submit">Cadastrar</button>
              </div>
            </div>
          </div>
          <!-- FIM STEP 3 -->
        </form>
      </div>
      <!-- fim formulario -->
    </div>
  </section>


  <script>

  $(document).ready(function () {
    var navListItems = $('div.setup-panel div a'),
    allWells = $('.setup-content'),
    allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
      $item = $(this);

      if (!$item.hasClass('disabled')) {
        navListItems.removeClass('btn-primary').addClass('btn-default');
        $item.addClass('btn-primary');
        allWells.hide();
        $target.show();
        $target.find('input:eq(0)').focus();
      }
    });

    allNextBtn.click(function(){
      var curStep = $(this).closest(".setup-content"),
      curStepBtn = curStep.attr("id"),
      nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
      curInputs = curStep.find(".form-control");
      isValid = true;

      $(".form-group").removeClass("has-error");
      nextStepWizard.removeClass("disabled");


      for(var i=0; i<curInputs.length; i++){
        if (!curInputs[i].validity.valid){
          isValid = false;
          $(curInputs[i]).closest(".form-group").addClass("has-error");
        }
      }

      if (isValid)
      nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');
  });


  $('#pai-1').click(function(){
    $('#filho-1').slideToggle();
  });
  $('#pai-2').click(function(){
    $('#filho-2').slideToggle();
  });
  $('#pai-3').click(function(){
    $('#filho-3').slideToggle();
  });

  $(document).ready(function(){
    $("#buttonAlert").click(function(){
      // console.log($('.form-control')[10]);
      if($('.form-control')[10].checked){
        alert("Cadastrado com sucesso!");
        // window.location.replace('../');
      }
    });
  });

  </script>

</body>
</html>
