<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Inicial</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home-page.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/utilities.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/sections.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/box.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/logos.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">



</head>
<body>
  <section class="Section">
    <div class="SectionOpacity">
      <div class="Navbar">
        <div class="NavLogo">
          <img src="/images/logo2.png" >
        </div>
        <div class="NavLinks">

          <a  class="Link" href="#1">Sobre</a>
          <a class="Link" href="#2">Como funciona</a>
          <a class="Link" href="#3">Colaboradores</a>
          <a class="Link" href="/cadastro">Cadastrar</a>

        </div>

      </div>
      <div class="BoxText">
        <div class="TextExplanation">
          <div style="font-size: 1.4em;">   Quer expandir seus negócios?</div>
          <div>Encontre colaboradores adequados às suas necessidades no Parque Tecnológico da PUCRS</div>
        </div>
        <div class="LogosCredibility">
          <div class="LogoTecnopuc"><img src="/images/tecnopuc4.png" ></div>
          <div class="LogoPuc"><img src="/images/puc4.png" ></div>


        </div>
      </div>

      <div class="BoxSearch">
        <div class="TitleSearch u-fontSizeLarge">
          Encontre parcerias agora
        </div>

        <div class="Box">

          <div class="BoxInput">
            <input type="text" name="input" class="Input" placeholder="Ex.: Desenvolvimento, investimentos, marketing..." >
            <div class="Button u-marginRight"><a href="/avaliacao">Buscar<i class="material-icons u-marginSmall">search</i></a></div>
          </div>
        </div>
        <div class="TitleSearch u-marginSmall u-fontSizeMedium">
          Encontre também por área
        </div>
        <div class="NavSearch">
          <div class="Tag">
            <div class="TagTitle u-coloRed">
              <div class="BoxTextTitle">
                <i class="material-icons u-fontSizeMedium">desktop_mac</i>
                <span class="u-fontSizeMedium u-marginSmall">Informática</span>
              </div>
              <div class="BoxDown">
                <i class="material-icons ">keyboard_arrow_down</i>
              </div>
            </div>
            <div class="TagContent u-fontFamilyLato">
              <div class=" CheckBox "><input type="checkbox" name="vehicle" value="dev"> Criação de sites</div>
              <div class=" CheckBox ">  <input type="checkbox" name="vehicle" value="test" > Teste</div>
              <div class=" CheckBox"><input type="checkbox" name="vehicle" value="Prototipos" > Desenvolvimento</div>
              <div class=" CheckBox "><input type="checkbox" name="vehicle" value="Consultoria" > Consultoria</div>
              <div class="ButtonTag u-fontFamilyLato"><a href="/avaliacao">Buscar</a></div>

            </div>
          </div>
          <div class="Tag">
            <div class="TagTitle u-coloGreen">
              <div class="BoxTextTitle">
                <i class="material-icons u-fontSizeMedium">attach_money</i>
                <span  class="u-fontSizeMedium u-marginSmall">Finanças</span>
              </div>
              <div class="BoxDown">
                <i class="material-icons ">keyboard_arrow_down</i>
              </div>
            </div>
            <div class="TagContent u-fontFamilyLato">


              <div class=" CheckBox "><input  class="u-fontFamilyLato" type="checkbox" name="vehicle" value="dev"> Investimentos</div>
              <div class=" CheckBox "> <input class="u-fontFamilyLato" type="checkbox" name="vehicle" value="test" > Contador</div>
              <div class=" CheckBox "><input class="u-fontFamilyLato" type="checkbox" name="vehicle" value="Prototipos" > Treinamentos</div>
              <div class=" CheckBox "><input class="u-fontFamilyLato" type="checkbox" name="vehicle" value="Consultoria" > Consultoria</div>
              <div class="ButtonTag u-fontFamilyLato"><a href="/avaliacao">Buscar</a></div>

            </div>
          </div>
          <div class="Tag">
            <div class="TagTitle u-coloOrange">
              <div class="BoxTextTitle">
                <i class="material-icons u-fontSizeMedium">import_contacts</i>
                <span class="u-fontSizeMedium u-marginSmall">Educação</span>
              </div>
              <div class="BoxDown">
                <i class="material-icons ">keyboard_arrow_down</i>
              </div>
            </div>
            <div class="TagContent u-fontFamilyLato">

              <div class=" CheckBox ">  <input type="checkbox" name="vehicle" value="hardware"> Cursos</div>
              <div class=" CheckBox "><input type="checkbox" name="vehicle" value="dev">Livros</div>
              <div class=" CheckBox "><input type="checkbox" name="vehicle" value="Consultoria" > Consultoria</div>
              <div class="ButtonTag u-fontFamilyLato"><a href="/avaliacao">Buscar</a></div>

            </div>
          </div>
          <div class="Tag">
            <div class="TagTitle u-coloBlue">
              <div class="BoxTextTitle">
                <i class="material-icons u-fontSizeMedium">videocam</i>
                <span class="u-fontSizeMedium u-marginSmall">Publicidade</span>
              </div>
              <div class="BoxDown">
                <i class="material-icons ">keyboard_arrow_down</i>
              </div>
            </div>
            <div class="TagContent u-fontFamilyLato niceform">

              <div class=" CheckBox ">  <input type="checkbox" name="vehicle" value="hardware">Marketing digital</div>
              <div class=" CheckBox "> <input type="checkbox" name="vehicle" value="test" >Propaganda</div>

              <div class=" CheckBox "><input type="checkbox" name="vehicle" value="Consultoria" > Consultoria</div>
              <div class="ButtonTag u-fontFamilyLato"><a href="/avaliacao">Buscar</a></div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <section class="About" id="1">
    <div class="AboutTitle">
      Sobre

    </div>
    <div class="AboutText">
      <p> A plataforma Conecta faz parte de uma estratégia institucional de Gestão da Inovação na PUCRS, a qual tem o intuito de:</p>
      <ul>
        <li>Fomentar o surgimento de novos negócios dentro do ecossistema de inovação</li>
        <li>Auxiliar na busca de recursos humanos e financeiros, em projetos inovadores de base científica e tecnológica</li>
        <li>Conectar empresas, pessoas e saberes, processos e serviços, procurando potencializar ações voltadas à inovação, pesquisa e desenvolvimento.</li>
      </ul>
    </div>

  </section>

  <section class="Function" id="2">
    <div class="FunctionTitle">
      Como funciona

    </div>
    <div class="FunctionContent">
      <div class="BoxFunction ">
        <div class="BoxIcon">
          <i class="material-icons" style="font-size: 5em; color: #0faac3;">insert_drive_file</i>
        </div>
        <div class="BoxText">
          Você cadastra sua empresa no Conecta

        </div>
      </div>
      <div class="BoxFunction">
        <div class="BoxIcon">
          <i class="material-icons" style="font-size: 5em; color: #EB6361;">build</i>
        </div>
        <div class="BoxText">
          Procura recursos ou serviços

        </div>
      </div>
      <div class="BoxFunction ">
        <div class="BoxIcon">
          <i class="material-icons" style="font-size: 5em; color: #02af7e;">business</i>
        </div>
        <div class="BoxText">
          Encontra empresas fornecedoras

        </div>
      </div>
      <div class="BoxFunction ">
        <div class="BoxIcon">
          <i class="material-icons" style="font-size: 5em; color: #EB9532;">contact_mail</i>
        </div>
        <div class="BoxText">
          O conecta contata esssa empresa para você

        </div>
      </div>

    </div>

  </section>

  <section class="Function" id="3" style="background-color: none; height: 100vh; color: white;">
    <div class="FunctionTitle">
      Colaboradores:
    </div>
    <div class="AboutText" style="color: white;">
      <p> A Conecta é fruto do trabalho colaborativo de diferentes atores do ambiente de Inovação e Desenvolvimento da PUCRS, citando-se: Pró-Reitoria de Pesquisa, Inovação e Desenvolvimento (PROPESQ) Rede INOVAPUCRS:</p>
      <ul>
        <li>Agência de Gestão Tecnológica (AGT)</li>
        <li>Parque Científico e Tecnológico da PUCRS (TECNOPUC)</li>
        <li>Escritório de Transferência de Tecnologia (ETT)</li>
        <li>Incubadora RAIAR</li>
        <li>Espaço Co working</li>
        <li>Centro de Inovação Microsoft (C.I.)</li>
        <li>Centro de Empreendedorismo (IDEAR)</li>
        <li>Thoughtworks</li>
        <li>Laboratório de Criatividade (CriaLab)</li>
        <li>Laboratório de Tratamento de Imagens e Geoprocessamento (LTIG)</li>
      </ul>
    </div>

  </section>

</section>


</body>
</html>
